.login-image{
	display: block;
	text-align: center;
	margin: auto;
	background-image: url(/console/resources/images/logo/icone.png);
	width: 100px;
	height:100px;
}

@media screen and (min-width: 350px){
	.login-image{
		background-image: url(/console/resources/images/logo/logo.png);
		width: 400px !important;
		height: 50px !important;
	}
}